[user]
	name = 'Adrien DE SEDE'
	email = adrien.de.sede@gmail.com
	signingkey = B2F94FA522D1A34DC3C3DF0AE3BFA046CE882AAE
[alias]
	c = commit -a
	s = status
	d = diff
	p = push
	co = checkout
	tree = log --all --pretty --oneline --graph
[merge]
	tool = vimdiff
	conflictstyle = diff3
[core]
	excludesfile = $HOME/gitignore
[commit]
	gpgsign = true
