[user]
	name = 'Adrien DE SEDE'
	email = adrien.de-sede@alan.eu
	signingkey = 7F06545C
[alias]
	c = commit -a
	s = status
	d = diff
	p = push
	co = checkout
	tree = log --all --pretty --oneline --graph
[merge]
	tool = vimdiff
	conflictstyle = diff3
[core]
	excludesfile = $HOME/gitignore
[commit]
	gpgsign = true
